# Arquivos de sistema e compilação
*.exe
*.dll
*.pdb
*.obj

# Pastas de cache e temporários
/bin/
/obj/
.vs/
.idea/

# Arquivos do Windows e compactados
Thumbs.db
desktop.ini
*.zip
*.rar
*.7z

# Logs de erro
*.log
